
__MACOSX/._stolen_vehicles_db_data_dictionary.csv
__MACOSX/._stolen_vehicles.csv
__MACOSX/._make_details.csv
__MACOSX/._locations.csv
testing.ipynb
testing1.ipynb
nz-carjacking-nb.ipynb
regional-council-2020-generalised.shp
map/regional-council-2020-generalised-ISO.pdf
map/regional-council-2020-generalised.cpg
map/regional-council-2020-generalised.dbf
map/regional-council-2020-generalised.prj
map/regional-council-2020-generalised.shp
map/regional-council-2020-generalised.shx
map/regional-council-2020-generalised.txt
map/regional-council-2020-generalised.xml
map/regional-council-2020-tablecsv.csv
